.sgn-404 {
    width: 100%;
    justify-content: center;
    .sgn-404-content {
        .site-title-icon {
            .site-icon {
                amp-img {
                    @include border-radius(16px, 16px);
                }
            }
        }

        .ex {
            font-size: small;
            color: #333;
        }
    }
}
