.sgn-ad {
    amp-img {
        box-shadow: initial;
    }

    a {
        text-decoration: none;
    }

    .sgn-ad-container {
        width: 100%;
        .sgn-ad-body {
            @include mq(sm) {
                min-width: 340px;
            }
        }

        .sgn-ad-body {
            @include mq(md) {
                width: 100%;
            }
        }

        .sgn-ad-body {
            @include mq(lg) {
                width: 100%;
            }
        }

        .sgn-ad-side {
            width: 100%;
            padding: 0 .5rem;
        }

        .sgn-ad-side {
            @include mq(sm) {
                min-width: 340px;
            }
        }

        .sgn-ad-side {
            @include mq() {
                min-width: 340px;
            }
        }

        .sgn-ad-side {
            @include mq(lg) {
                min-width: 340px;
            }
        }
    }
}
