article {
    .article-content {
        .read-more a {
            display: inline-block;
            font-weight: bold;
            padding: 0.25em;
            text-decoration: none;
            border: solid 1px $read-more;
            transition: .4s;
            @include border-radius(4px 4px);
        }
    }

    footer.article-footer {
        a {
            @extend .category-tag;
        }
    }

    .thumbnail {
        width: 100%;
        @include border-radius(2px, 2px);
        @include box-shadow($box-shadow);

        amp-img {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        &:before {
            content: '';
            display: block;
            padding-top: 56.25%; 
        }
    }



}
