article {
    .published {
        margin-right: 0.5rem;
    }

    footer.article-footer {
        a {
            @extend .category-tag;
        }
    }

    div.meta {
        color: black;
    }

    div.article-content {
        color: black;
    }
    
}
