.sgn-article {
    .sgn-article-content {
        blockquote {
            color: #353535;
            background: rgba(127,127,127,.125);
            border-left: .5rem solid silver;
            padding: .5rem;
            overflow: hidden;

            span {
                &:after {
                    content: "\A";
                    white-space: pre;
                }
            }

            a {
                float:right;
                text-decoration: none;
                color: blue
            }
        }
    }
}
