footer#main-footer {
  border-top: solid 1px Silver;
  padding: .5rem;

  .site-name {
    color: $color-black;
    @media (prefers-color-scheme: dark) {
      color: $color-black-dark;
    }
  }

  amp-img {
    @include box-shadow(none);
  }

  nav {
    display: flex;
    flex-direction: column;
    text-align: center;

    ul {
      display: flex;
      justify-content: center;
      flex-direction: column;

      li {
        line-height: 1.5rem;
        a {
          text-decoration: none;
          color: $color-black;
          @media (prefers-color-scheme: dark) {
            color: $color-black-dark;
          }
        }
      }
    }

    @include mq(sm) {
      ul {
        flex-direction: row;
      }
    }

    @include mq(md) {
      ul {
        flex-direction: row;
      }
    }

    @include mq(lg) {
      ul {
        flex-direction: row;
      }
    }
  }

}
