header#mumu-top {
  @include box-shadow($box-shadow);
  background-color: $color-white;
  @media (prefers-color-scheme: dark) {
    background-color: $color-white-dark;
  }

  amp-img {
    @include box-shadow(none);
  }

  .site-name {
    color: $color-black;
    @media (prefers-color-scheme: dark) {
      color: $color-black-dark;
    }
  }

  .submenu {
    flex: 1;

    ul {
      text-align: right;
      float: right;

      li {
        padding: 0 1rem;
        background: transparent;
        opacity: $opacity;
      }
    }

    a {
      display: block;
      text-decoration: none;
      cursor: pointer;
      color: $color-black;
      @media (prefers-color-scheme: dark) {
        color: $color-black-dark;
      }
    }
  }

  .submenu {
    @include mq(sm) {
      display: none;
    }
  }

  .submenu {
    @include mq(md) {
      display: inline-block;
    }
  }

  .submenu {
    @include mq(lg) {
      display: inline-block;
    }
  }

  .toggle {
    cursor: pointer;
    text-decoration: none;
    line-height: $line-height;
  }

  .toggle:focus {
    outline: none;
  }

  .search-icon {
      cursor: pointer;
  }
}

#header-side-menu {
  a {
    display: block;
    text-decoration: none;
    cursor: pointer;
    color: $color-black;
    @media (prefers-color-scheme: dark) {
      color: $color-black-dark;
    }
  }
}

amp-lightbox {
  background: rgba($color-black,.8);

  .mumu-search-lightbox {
    justify-content: center;

    .close {
      top: 0.5rem;
      right: 1rem;
      font-weight: 600;
    }

    input[type='search'] {
      line-height: 2rem;
      width: 18rem;
      padding: 1rem;
      background-color: rgba($search-bg-color, 0.95);
      @include border-radius(8px, 8px);
    }

    input[type='search'] {
      @include mq(sm) {
        width: 20rem;
      }
    }

    input[type='search'] {
      @include mq(md) {
        width: 40rem;
      }
    }

    input[type='search'] {
      @include mq(lg) {
        width: 40rem;
      }
    }
  }
}

amp-sidebar#header-side-menu {
  width: 20rem;
  background-color: rgba($header-sidemenu-bg-color, 0.95);
  @media (prefers-color-scheme: dark) {
    background-color: rgba($header-sidemenu-bg-color-dark, 0.95);
  }

  .navbar-trigger {
    color: $color-black;
    @media (prefers-color-scheme: dark) {
      color: $color-black-dark;
    }
  }

  .label {
    font-size: 1rem;
    color: $amp-sidebar-label-color;
    @media (prefers-color-scheme: dark) {
      color: $amp-sidebar-label-color-dark;
    }
    line-height: 1.42857;
    letter-spacing: .06rem;
    color: inherit;

    .menu-item {
      margin: 0 0 .5rem;
      letter-spacing: 0.6px;
      line-height: 2.0625;
      font-weight: 700;
    }
  }
}
