header#mumu-top {
  @include box-shadow($box-shadow);

  amp-img {
    @include box-shadow(none);
  }

  h1 {
    color: black;
  }

  .submenu {
    flex: 1;

    ul {
      text-align: right;
      float: right;

      li {
        padding: 0 1rem;
        background: transparent;
        opacity: $opacity;
      }
    }

    a {
      display: block;
      text-decoration: none;
      cursor: pointer;
      color: black;
    }
  }

  .submenu {
    @include mq(sm) {
      display: none;
    }
  }

  .submenu {
    @include mq(md) {
      display: inline-block;
    }
  }

  .submenu {
    @include mq(lg) {
      display: inline-block;
    }
  }

  .toggle {
    cursor: pointer;
    text-decoration: none;
    line-height: $line-height;
  }

  .toggle:focus {
    outline: none;
  }

  .search-icon {
      cursor: pointer;
  }
}

#header-side-menu {
  a {
    display: block;
    text-decoration: none;
    cursor: pointer;
    color: black;
  }
}

amp-lightbox {
  background: rgba(0,0,0,.8);
  color: #fff;

  .mumu-search-lightbox {
    justify-content: center;

    .close {
      top: 0.5rem;
      right: 1rem;
      font-weight: 600;
    }

    input[type='search'] {
      line-height: 2rem;
      width: 18rem;
      padding: 1rem;
      background-color: rgba($search-bg-color, 0.95);
      @include border-radius(8px, 8px);
    }

    input[type='search'] {
      @include mq(sm) {
        width: 20rem;
      }
    }

    input[type='search'] {
      @include mq(md) {
        width: 40rem;
      }
    }

    input[type='search'] {
      @include mq(lg) {
        width: 40rem;
      }
    }
  }
}

amp-sidebar#header-side-menu {
  width: 20rem;
  background-color: rgba($header-sidemenu-bg-color, 0.95);

  .label {
    font-size: 1rem;
    color: #4f4f4f;
    line-height: 1.42857;
    letter-spacing: .06rem;
    color: inherit;

    .menu-item {
      margin: 0 0 .5rem;
      letter-spacing: 0.6px;
      line-height: 2.0625;
      font-weight: 700;
    }
  }
}

