svg {
    width: 1rem;
    height: 1rem;
    margin-right: 0.25rem;
}

time {
    display: flex;
    align-items: center;
}

.post-time {
    display: flex;
    justify-content: flex-end;
}

.sgn-container {
    .sgn-list-section {
        width: 100%;
        min-width: calc(20rem - 1rem);
      
        .sgn-list {
            width: 100%;
            margin-bottom: .5rem;
          
            .entry {
                a { display: block }

                .card {
                    border-bottom: 1px solid rgba(Silver, .5);
                    min-width: calc(20rem - 1rem);

                    background-color: #FEFEFF;
                    width: 100%;

                    .thumbnail {
                        width: 100%;
                        @include border-radius(2px, 2px);
                        @include box-shadow($box-shadow);

                        amp-img {
                            position: absolute;
                            top: 0;
                            bottom: 0;
                            left: 0;
                            right: 0;
                            margin: auto;
                            width: 100%;
                        }

                        &:before {
                            content: '';
                            display: block;
                            padding-top: 56.25%; 
                        }
                    }

                    .post-time {
                        font-size: 0.75rem;
                        color: rgba(#696969, 1);
                        text-align: right;
                        svg {
                            width: 0.75rem;
                            height: 0.75rem;
                        }
                    }

                    .post-content {
                        line-height:1.5rem;
                        padding: .5rem;
                    }
                }
            }
        }

        .sgn-list {
            @include mq(sm) {
                .entry {
                    .post-time { font-size: 1rem; }
                }
            }
        }

        .sgn-list {
            @include mq(md) {
                .entry {
                    .post-time { font-size: 1rem; }
                }
            }
        }

        .sgn-list {
            @include mq(lg) {
                .entry {
                    .post-time { font-size: 1rem; }
                }
            }
        }

        .sgn-pagination {
          a, span {
            width: 2rem;
            height: 2rem;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: large;

            text-decoration: none;
          }

          span.current {
            border: solid 1px pink;
            background-color: lightpink;
            font-weight: 600;
            @include border-radius(2px, 2px);
          }
        }

        .sgn-pagination * {
          margin-right: 0.25rem;
        }
    }

    .sgn-list-section {
        @include mq(sm) {
        }
    } 

    .sgn-list-section {
        @include mq(md) {
        }
    }

    .sgn-list-section {
        @include mq(lg) {
            padding-right: .5rem;
            justify-content: space-between;
        }
    }
}
 
