article.list-item {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #eee;

  .container {
    padding: initial;

    .article-content {
      word-break: break-all;
    }

    .read-more {
      display: flex;
      justify-content: flex-start;

      @include mq(sm) {
        justify-content: flex-start;
      }
      @include mq(md) {
        justify-content: flex-end;
      }
      @include mq(lg) {
        justify-content: flex-end;
      }
    }
  }

  @include mq(lg) {
    flex-direction: row;
    .article-image {
      width: 480px;
      margin-right: 0.5rem;
    }
  }
}
