$line-height: 3.5rem;
$margin: 0 0 2.5rem;
$opacity: .8;

$text-shadow: 1px 1px 2px rgba(Silver, .8);
$text-shadow-dark: 1px 1px 2px rgba(#3f3f3f, .8);

$box-shadow: 1px 1px 2px rgba(Silver, .8);
$box-shadow-dark: 1px 1px 2px rgba(#3f3f3f, .8);

$bg-color-navi: #FAE3BE;
$bg-color-navi-dark: #051C41;

$navi-border: 1px solid #dfdfdf;
$navi-border-dark: 1px solid #202020;

$font-600: 600;
$font-large: large;

$a-link: #3273dc;
$a-link-dark: #cd8c23;

$a-hover: #0000FF;
$a-hover-dark: #FFFF00;

$a-visited: #3273DC;
$a-visited-dark: #CD8C23;

$a-active: #3273DC;
$a-active-dark: #CD8C23;

$search-bg-color: #FEF4F2;
$search-bg-color-dark: #010b0d;

$header-sidemenu-bg-color: #FEF4F2;
$header-sidemenu-bg-color-dark: #010b0d;

$read-more: rgba(#C8C8C8, 0.8);
$read-more-dark: rgba(#373737, 0.8);
$read-more-radis: 8px 8px;

$button-border-color: rgba(200, 200, 200, 0.8);
$button-border-color-dark: rgba(#373737, 0.8);

$button-radius: 8px 8px;

$color-black: #000000;
$color-black-dark: #fdfdfd;

$color-white: #ffffff;
$color-white-dark: #000000;

$color-gray: #333333;
$color-gray-dark: #cccccc;

$color-light-gray: #cccccc;
$color-light-gray-dark: #333333;

$color-silver: #C0C0C0;
$color-silver-dark: #3f3f3f;

$amp-sidebar-label-color: #4F4F4F;
$amp-sidebar-label-color-dark: #B0B0B0;

$border-sidebar-widget-h3: rgba(Silver, .5);
$border-sidebar-widget-h3-dark: rgba(#3f3f3f, .5);

$body-bg-color: #EEEEEE;
$body-bg-color-dark: #111111;

$lightbox-bg-color: #000A0A;
$lightbox-bg-color-dark: #FFF5F5;

$pagination-bg-color: #FFB6C1;
$pagination-bg-color-dark: rgba(#00493E, .8);

$golden: 1.681;
$silver: 1.414;

$breakpoints: (
  'xs': 'screen and (max-witdh: 375px)',
  'sm': 'screen and (min-width: 376px) and (max-width: 428px)',
  'md': 'screen and (min-width: 429px) and (max-width: 1199px)',
  'lg': 'screen and (min-width: 1200px)',
) !default;

@mixin mq($breakpoint: md) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}


