html {
    font-size:  16px;
}

body {
  background-color: #EEE;
  font-size: 1rem;
  line-height: 1.5rem;
}

svg {
    width: 1rem;
    height: 1rem;
    margin-right: 0.25rem;
}

h1 {
    font-size: 2rem;
    line-height: 2.25rem;
}

h2 {
    font-size: 1.5rem;
    line-height: 1.75rem;
}

h3 {
    font-size: 1.17rem;
    line-height: 1.42rem;
}

h4 {
    font-size: 1.12rem;
    line-height: 1.37rem;
}

h5 {
    font-size: 0.83rem;
    line-height: 1.08rem;
}

h6 {
    font-size: 0.75rem;
    line-height: 1rem;
}

.container {
    width: 100%;
    padding: .5em;
}


#content {
    width: 100%;
    max-width: 1280px;
    min-width: 320px;
    background-color: #FFF;
    flex-direction: column;
    justify-content: center;
    margin-top: 1px;
}

#content {
    @include mq(md) {
        justify-content: space-between;
    }
}

#content {
  @include mq(lg) {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        @include box-shadow(rgba(silver, .8) 1px 0 2px, rgba(silver, .8) -1px 0 2px);
  }
}

#primary {
    background-color: #white;
}

#secondary {
    @include mq(lg) {
        padding-left: 0.5rem;
    }

}


header, footer, article, section {
  background-color: #FFF;
}

amp-img {
  @include border-radius(0.25rem);
  @include box-shadow($box-shadow);
}

amp-lightbox  {
  amp-img {
    box-shadow: initial;
    border-radius: initial;
  }
}

.none-box-shadow {
  box-shadow: initial;
}

.none-border-radius {
  border-radius: initial;
}

amp-image-lightbox, amp-lightbox {
  background: rgba(0, 10, 10, 0.9);
}


a {
    color: $a-link;
    padding: 0.25rem;

    &:visited {
        color: $a-visited;
    }
    &:hover {
        color: $a-hover;
    }
    &:active {
        color: $a-active;
    }
}

.category-tag {
    display: inline-block;
    line-height: 1;
    border: 1px solid $button-border-color;
    text-decoration: none;
    margin-bottom: .25rem;
    padding: .5rem;
    @include border-radius($button-radius);
    &:before {
        content: "#";
    }

}

.sns {
    svg {
        width: 36px;
        height: 36px;
    }
}

amp-social-share {
  @include border-radius(2px 2px);
  margin-right: .5rem;
}
