*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

html {
    font-size:  16px;
}

body {
  background-color: $body-bg-color;
  color: $color-black;
  @media (prefers-color-scheme: dark) {
    background-color: $body-bg-color-dark;
    color: $color-black-dark;
  }

  font-size: 1rem;
  line-height: 1.5rem;
  transition: .5s;
}

svg {
    width: 1rem;
    height: 1rem;
    margin-right: 0.25rem;
    fill: $color-black;
    @media (prefers-color-scheme: dark) {
      fill: $color-black-dark;
    }
}

h1 {
    font-size: 2rem;
    line-height: 2.25rem;
}

h2 {
    font-size: 1.5rem;
    line-height: 1.75rem;
}

h3 {
    font-size: 1.17rem;
    line-height: 1.42rem;
}

h4 {
    font-size: 1.12rem;
    line-height: 1.37rem;
}

h5 {
    font-size: 0.83rem;
    line-height: 1.08rem;
}

h6 {
    font-size: 0.75rem;
    line-height: 1rem;
}

#main {
  width: calc(100% - 4px);

  @include mq(lg) {
    width: 854px;
    max-width: 1280px;
  }
}

#content {
  width: 100%;
  min-width: 320px;
  max-width: 1280px;

  background-color: $color-white;
  @media (prefers-color-scheme: dark) {
    background-color: $color-white-dark;
  }

  flex-direction: column;
  flex: 1;
  margin-top: 1px;


  @include mq(lg) {
    max-width: 1280px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    @include box-shadow(rgba($color-silver, .8) 1px 0 2px 0, rgba($color-silver, .8) -1px 0 2px 0 );
    @media (prefers-color-scheme: dark) {
      @include box-shadow(rgba($color-silver-dark, .8) 1px 0 2px 0, rgba($color-silver-dark, .8) -1px 0 2px 0);
    }
  }
}

#primary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: $color-white;
  margin-bottom: auto;
  @media (prefers-color-scheme: dark) {
    background-color: $color-white-dark;
  }
}

#secondary {
    @include mq(lg) {
        padding-left: 0.5rem;
    }

}


header, footer, article, section {
  background-color: $color-white;
  @media (prefers-color-scheme: dark) {
    background-color: $color-white-dark;
  }
}

amp-img {
  @include border-radius(0.25rem);
}

amp-lightbox  {
  amp-img {
    box-shadow: initial;
    border-radius: initial;
  }
}

.none-box-shadow {
  box-shadow: initial;
}

.none-border-radius {
  border-radius: initial;
}

amp-image-lightbox, amp-lightbox {
  background: rgba($lightbox-bg-color, 0.9);
  @media (prefers-color-scheme: dark) {
    background: rgba($lightbox-bg-color-dark, 0.9);
  }
}


a {
  color: $a-link;
  text-decoration: none;
  @media (prefers-color-scheme: dark) {
    color: $a-link-dark;
  }

  &:visited {
    color: $a-visited;
    @media (prefers-color-scheme: dark) {
      color: $a-visited-dark;
    }
  }
  &:hover {
    color: $a-hover;
    @media (prefers-color-scheme: dark) {
      color: $a-hover-dark;
    }
  }
  &:active {
    color: $a-active;
    @media (prefers-color-scheme: dark) {
      color: $a-active-dark;
    }
  }
}

a.post-link {
  color: $color-black;
  @media (prefers-color-scheme: dark) {
    color: $color-black-dark;
  }
}


.category-tag {
  display: inline-block;
  line-height: 1;
  border: 1px solid $button-border-color;
  @media (prefers-color-scheme: dark) {
    border: 1px solid $button-border-color-dark;
  }

  text-decoration: none;
  margin-bottom: .25rem;
  padding: .5rem;
  @include border-radius($button-radius);
  &:before {
      content: "#";
  }
}

.container {
    width: 100%;
    padding: .5em;
}

.sns {
    svg {
        width: 36px;
        height: 36px;
    }
}

amp-social-share {
  @include border-radius(4px 4px);
  margin-right: .25rem;
}


