.sgn-post-list {
    .entry {
        a {
            display: block;
            text-decoration: none;

            .post-title {
                font-size: small;
                line-height: 1.5em;
            }
        }
        .post-time {
            display: flex;
            justify-content: flex-end;
            font-size: small;
        }
    }

    .sgn-list-readmore {
        position: absolute;
        bottom: 0rem;
        padding: .5rem;
        width: 100%;
        background-color: rgba(#FEF, 0.9);
        border: solid 1px silver;
        @include box-shadow($box-shadow);
    }
}
