.sgn-nextprev-list {
    font-size: 1rem;
      .next-post, .prev-post {
        a {
            display: flex;
            text-decoration: none;
            line-height: 1.5rem;
            .thumbnail {
                margin-right: 0.5rem; 
            }
        }

        .post-arrow {
            align-self: center;
        }

    }
}

