nav.pagination {
    .dots {
        width: 2rem;
        height: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: large;
        color: black;
    }

    .page-numbers:not(.dots) {
        @extend .dots;

        text-decoration: none;
        border: solid 1px pink;
        @include border-radius(2px, 2px);
        margin: .25rem;
    }


    .current {
        border: solid 1px pink;
        background-color: lightpink;
        font-weight: 600;
        @include border-radius(2px, 2px);
    }
}
