h1, h2, h3, h4, h5, h6 {
    font-size: 1rem;
    color: black;
}

#content {
    width: 100%;
    max-width: 1280px;
    min-width: 320px;
    background-color: #FFF;
    flex-direction: column;
    justify-content: center;
}

#content {
    @include mq(md) {
        justify-content: space-between;
    }
}

#content {
  @include mq(lg) {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        @include box-shadow(rgba(silver, .8) 1px 0 2px, rgba(silver, .8) -1px 0 2px);
  }
}

#primary {
    background-color: #white;
}

#secondary {
}

a {
    color: #3273dc;
    padding: 0.25rem;

    &:visited {
        color: #3273dc;
    }
    &:hover {
        color: #0000ff;
    }
    &:active {
        color: #3273dc;
    }
}

header.sgn-navi {
    background-color: $bg-color-navi;
    border: $navi-border;
    font-weight: $font-600;
    font-size: $font-large;
}

.category-tag {
    display: inline-block;
    padding: .5em;
    line-height: 1;
    text-decoration: none;
    border: 1px solid #f1efef;
    font-size: 0.75rem;
    @include border-radius(0.5rem 0.5rem);
    &:before {
        content: "#";
    }

}

.post-category {
  @extend .category-tag;
  z-index: 999;
  top: .25rem;
  right: .25rem;
  display: flex;
  align-items: center;
}

amp-social-share {
  @include border-radius(2px 2px);
  margin-right: .5rem;
}

