 #secondary {
  width: 100%;
  a {
    color: $color-black;
    @media (prefers-color-scheme: dark) {
      color: $color-black-dark;
    }
  }


  .widget {
    h3 {
      padding-bottom: 0.25rem;
      border-bottom: 1px solid $border-sidebar-widget-h3;
      @media (prefers-color-scheme: dark) {
        border-bottom: 1px solid $border-sidebar-widget-h3-dark;
      }
    }

    a {
      text-decoration: none;
    }

    ul {
      list-style: none;
      margin-left: -2rem;
      li {
        margin-bottom: 0.5rem;
      }
    }

    ul > li ul {
      margin-top: 0.25rem;
      margin-left: -1rem;
      li {
          line-height: 1.5rem;
      }
    }
  }

  @include mq(sm) {
    min-width: 340px;
  }

  @include mq(lg) {
    max-width: 340px;
    margin-left: 0.25rem;
  }

}
