.sgn-article {
   width: 100%;

  .sgn-article-header {
    border-bottom: solid 1px silver;

    amp-lightbox > div {
      padding: 1rem;
    }

    .sgn-feature-image {
      width: 100%;
      figure {
        width: 100%;
        margin: 0;
      }
    }

    .sgn-post-title {
      color: black;
      line-height: 2rem;
      font-size: 1.5rem;
      font-weight: 600;
      @include text-shadow($text-shadow);
    }

    .sgn-post-meta {
      font-size: .75rem;
    }
  }

  .sgn-article-content {

    .sgn-image-block, .sgn-youtube-block
    {
      width: 100%;
      figure {
        margin: .5rem 0;

        figcaption {
          width: 100%;
          text-align: center;
        }
      }
    }

    .sgn-image-block, .sgn-youtube-block
    {
      @include mq(sm)
      {
        display: flex;
        justify-content: center;
        figure
        {
          width: 512px;
        }
      }
    }

    .sgn-youtube-block 
    {
      @include mq(sm) 
      {
        figure
        {
          width: 640px;
        }
      }
    }

    .sgn-image-block, .sgn-youtube-block
    {
      @include mq(md)
      {
        display: flex;
        justify-content: center;
        figure
        {
            width: 512px;
        }
      }
    }

    .sgn-youtube-block
    {
      @include mq(md)
      {
        figure
        {
          width: 640px;
        }
      }
    }

    .sgn-image-block, .sgn-youtube-block
    {
      @include mq(lg) 
      {
        display: flex;
        justify-content: center;
        figure 
        {
            width: 512px;
        }
      }
    }

    .sgn-youtube-block
    {
      @include mq(lg)
      {
        figure
        {
          width: 640px;
        }
      }
    }
  }
}

.sgn-article {
    @include mq(sm) {
        width: 100%;
    }
}

.sgn-article {
    @include mq() {
        width: 100%;
    }
}

.sgn-article {
    @include mq(lg) {
        width: 100%;
        padding-right: .5rem
    }
}

.sgn-post-categories {
  a {
    @extend .category-tag;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    text-decoration: none;
  }
}
