section.widget {
  .widget_recent_entries, .widget_categories {
    font-size: 1rem;
    ul {
      li {
        a {
          &:before {
            content: '\25B8';
            margin-right: 0.25rem;
          }
        }
      }
    }
  }
}

section.widget.widget_recent_entries {
  ul {
    li {
      display: flex;
      flex-direction: column;
      span {
        margin-left: auto;
      }

    }
  }
}

section.widget.widget_categories {
  ul.children {
    li {
      padding-left: 0.5rem;
    }
  }
}

section.widget {
  div.mumu-widget-posts-list {
    div.entry {
      margin-bottom: 0.5rem;
      a {
        display: flex;
        flex-direction: column;
        .entry-thumbnail {
          width: 100%;
          opacity: 0.9;
          margin-bottom: .25rem;

          .ranking {
            display: block;
            background-color: rgba($color-black, 0.2);
            color: $color-white;
            @media (prefers-color-scheme: dark) {
              background-color: rgba($color-black-dark, 0.2);
              color: $color-white-dark;
            }

            font-weight: 600;
            text-align: center;
            width: 1.5rem;
            height: 1.5rem;
            top: 0.25rem;
            left: 0.25rem;
          }
        }

        .entry-content {
          display: flex;
          flex-direction: column;
          .published-post {
            font-size: 0.75rem;
          }
        }
      }
    }
  }
}

#main {
  section.widget {
    div.mumu-widget-posts-list {
      display: flex;
      flex-direction: column;

      div.entry {
        a {
          text-decoration: none;
          color: $color-black;
          @media (prefers-color-scheme: dark) {
            color: $color-black-dark;
          }
        }
      }
    }

    div.custom-html-widget {
      width: 320px;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: auto;
    }

    @include mq(sm) {
      div.mumu-widget-posts-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        div.entry {
          width: 33.33333%;
          padding-left: .25rem;
          padding-right: .25rem;
        }
      }

      div.custom-html-widget {
        width: 100%;
      }
    }

    @include mq(md) {
      div.mumu-widget-posts-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        div.entry {
          width: 33.33333%;
          padding-left: .25rem;
          padding-right: .25rem;
        }
      }

      div.custom-html-widget {
        width: 100%;
      }
    }

    @include mq(lg) {
      div.mumu-widget-posts-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        div.entry {
          width: 33.33333%;
          padding-left: .25rem;
          padding-right: .25rem;
        }
      }

      div.custom-html-widget {
        width: 100%;
      }
    }
  }
}
